
{% extends  'web/base_main.html' %}

{% block ticle %}
    天天生鲜-商品详情
{% endblock %}

{% block content %}
    {% load static %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/media/{{ goods.goods_front_image }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.name }}</h3>
			<p>{{ goods.goods_brief }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods.shop_price }}</em></span>
				<span class="show_unit">单  位：500g</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>

				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr" onclick="add_goods({{ goods.shop_price }});">+</a>
					<a href="javascript:;" class="minus fr" onclick="sub_goods({{ goods.shop_price }});">-</a>
				</div>
                <!--实现商品的价格动态变化-->
                <script type="text/javascript">
                    function add_goods(price){
                        <!--获取选择的商品个数-->
                        var goods_num = $('.num_show').val()
                        <!--使用parseInt方法，将商品个数转化为int类型，并实现加一操作-->
                        $('.num_show').val(parseInt(goods_num) + 1)
                        <!--计算商品个数的总价-->
                        var total_price = (parseInt(goods_num) + 1) * price
                        $('.total em').html(total_price + '元')
                    }

                    function sub_goods(price){
                        <!--获取选择的商品个数-->
                        var goods_num = $('.num_show').val()
                        <!--使用parseInt方法，将商品个数转化为int类型，并实现减一操作-->
                        var new_goods_num = parseInt(goods_num) - 1
                        if(new_goods_num >= 1){
                            $('.num_show').val(new_goods_num)
                            <!--计算商品个数的总价-->
                            var total_price = new_goods_num * price
                            $('.total em').html(total_price + '元')
                        }
                    }

                    function add_cart(goods_id){
                        <!--添加到购物车-->
                        goods_num = $('.num_show').val()
                        var csrf = $('input[name="csrfmiddlewaretoken"]').val()
                        $.ajax({
                            url:'/shopping/add_cart/',
                            type:'POST',
                            data:{'goods_id': goods_id, 'goods_num': goods_num},
                            dataType:'json',
                            headers:{'X-CSRFToken': csrf},
                            success:function(data){
                                if(data.code == '200'){
                                    s='<a href="#" class="cart_name fl">我的购物车</a>'
                                    s+= '<div class="goods_count fl cart_goods_num" id="show_count">' + data.cart_goods_num + '</div>'
                                    $('.guest_cart').html(s)
                                }
                            }
                        })

                    }
                </script>

                <div class="num_name fl" style="margin-left:50px;">库 存：</div>
				<div class="num_name fl" style="text-align:center;">
					{{ goods.goods_nums }}
				</div>
			</div>
			<div class="total">总价：<em>{{ goods.shop_price }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
                {% csrf_token %}
				<a onclick="add_cart({{ goods.id }});" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="#"><img src="images/goods/goods001.jpg"></a>
						<h4><a href="#">进口柠檬</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="images/goods/goods002.jpg"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods.goods_desc|safe }}</dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock %}