
{% extends 'backweb/base_main.html' %}

{% block extJs %}
    {{ block.super }}
    {% load static %}
    <script type="text/javascript" src="{% static 'kindeditor/kindeditor-all.js' %}"></script>
    <script type="text/javascript" src="{% static 'kindeditor/lang/zh-CN.js' %}"></script>
    <script type="text/javascript">
        KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
    </script>
{% endblock %}

{% block content %}
<section class="rt_wrap mCustomScrollbar">

    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl">商品详情</h2>
            <a class="fr top_rt_btn" href="{% url 'goods:goods_list' %}">返回商品列表</a>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <section>
                <ul class="ulColumn2">
                    <li>
                        <span class="item_name" style="width:120px;">商品名称：</span>
                        <input type="text" name="name" class="textbox textbox_295" placeholder="商品名称..."/>
                        {% if form.errors.name %}
                        <span class="errorTips">{{ form.errors.name|striptags }}</span>
                        {% endif %}
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">商品货号：</span>
                        <input type="text" name="goods_sn" class="textbox" placeholder="商品货号..."/>
                        {% if form.errors.goods_sn %}
                            <span class="errorTips">{{ form.errors.goods_sn|striptags }}</span>
                        {% endif %}
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">分类：</span>
                        <select class="select" name="category">
                            {% for goods_category in goods_categorys %}
                                <option value="{{ goods_category.0 }}">{{ goods_category.1 }}</option>
                            {% endfor %}
                        </select>
                        {% if form.errors.category %}
                            <span class="errorTips">{{ form.errors.category|striptags }}</span>
                        {% endif %}
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">商品库存：</span>
                        <input type="text" name="goods_nums" class="textbox textbox_295" placeholder="商品库存..."/>
                        {% if form.errors.goods_nums %}
                            <span class="errorTips">{{ form.errors.goods_nums|striptags }}</span>
                        {% endif %}
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">市场价格：</span>
                        <input type="text" name="market_price" class="textbox textbox_295" placeholder="市场价格..."/>
                        {% if form.errors.market_price %}
                            <span class="errorTips">{{ form.errors.market_price|striptags }}</span>
                        {% endif %}
                    </li><li>
                        <span class="item_name" style="width:120px;">本店价格：</span>
                        <input type="text" name="shop_price" class="textbox textbox_295" placeholder="本店价格..."/>
                        {% if form.errors.shop_price %}
                            <span class="errorTips">{{ form.errors.shop_price|striptags }}</span>
                        {% endif %}
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">推荐：</span>
                        <label class="single_selection"><input type="radio" name="is_hot"/>是否热销</label>
                        <label class="single_selection"><input type="radio" name="is_new"/>是否新品</label>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">是否承担运费：</span>
                        <label class="single_selection"><input type="radio" name="ship_free"/>是否承担运费</label>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">上传商品首图：</span>
                        <label class="uploadImg">
                             <input type="file" name="goods_front_image"/>
                             <span>上传图片</span>
                        </label>
                    </li>
                    <!--<li>-->
                        <!--<span class="item_name" style="width:120px;">产品详情：</span>-->

                        <!--<textarea id="editor_id" name="content" style="width:700px;height:300px;">-->
                            <!--&lt;strong&gt;HTML内容&lt;/strong&gt;-->
                        <!--</textarea>-->
                    <!--</li>-->
                    <li>
                        <span class="item_name" style="width:120px;"></span>
                        <input type="submit" class="link_btn"/>
                    </li>
                </ul>
            </section>
        </form>
    </div>
</section>

{% endblock %}
