
{% extends 'backweb/base_main.html' %}


{% block content %}

<section class="rt_wrap content mCustomScrollbar">
    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl">商品列表</h2>
            <a href="{% url 'goods:goods_detail' %}" class="fr top_rt_btn add_icon">添加商品</a>
        </div>
        <!--<section class="mtb">-->
            <!--<select class="select">-->
                <!--<option>下拉菜单</option>-->
                <!--<option>菜单1</option>-->
            <!--</select>-->
            <!--<input type="text" class="textbox textbox_225" placeholder="输入产品关键词或产品货号..."/>-->
            <!--<input type="button" value="查询" class="group_btn"/>-->
        <!--</section>-->
        <table class="table">
            <tr>
                <th>缩略图</th>
                <th>产品名称</th>
                <th>商品类型</th>
                <th>货号</th>
                <th>市场单价</th>
                <th>本店单价</th>
                <th>新品</th>
                <th>热销</th>
                <th>库存</th>
                <th>详情</th>
                <th>操作</th>
            </tr>
            {% csrf_token %}
            {% for good in goods %}
                <tr>
                    <td class="center"><img src="/media/{{ good.goods_front_image }}" width="50" height="50" alt="" /></td>
                    <td class="center">{{ good.name }}</td>
                    <td class="center">
                        {% for category in goods_categorys %}
                            {% if category.0 == good.category.category_type %}
                                {{ category.1 }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="center">{{ good.goods_sn }}</td>
                    <td class="center"><strong class="rmb_icon">{{ good.market_price }}</strong></td>
                    <td class="center"><strong class="rmb_icon">{{ good.shop_price }}</strong></td>
                    <td class="center">
                        {% if good.is_new %}
                            <a title="是" class="link_icon">&#89;</a>
                        {% else %}
                            <a title="否" class="link_icon">&#88;</a>
                        {% endif %}
                    </td>
                    <td class="center">
                        {% if good.is_hot %}
                            <a title="是" class="link_icon">&#89;</a>
                        {% else %}
                            <a title="否" class="link_icon">&#88;</a>
                        {% endif %}
                    </td>
                    <td class="center">{{ good.goods_nums }}</td>
                    <td class="center">
                        <a href="{% url 'goods:goods_desc' good.id %}">{{ good.name }}描述</a>
                    </td>
                    <td class="center">
                        <a href="http://www.mycodes.net" title="预览" class="link_icon" target="_blank">&#118;</a>
                        <a href="product_detail.html" title="编辑" class="link_icon">&#101;</a>
                        <a onclick="delete_goods({{ good.id }})" title="删除" class="link_icon">&#100;</a>
                    </td>
                    <script type="text/javascript">
                        function delete_goods(goods_id){
                            var csrf = $('input[name="csrfmiddlewaretoken"]').val()
                            $.ajax({
                                url: '/goods/goods_delete/' + goods_id + '/',
                                dataType: 'json',
                                type: 'POST',
                                headers:{'X-CSRFToken': csrf},
                                success:function(data){
                                    if(data.code == '200'){
                                        location.href = '/goods/goods_list/'
                                    }
                                }
                            })
                        }
                    </script>
                </tr>
            {% endfor %}
        </table>
        <aside class="paging">
            <a>第一页</a>
            <a>1</a>
            <a>2</a>
            <a>3</a>
            <a>…</a>
            <a>1004</a>
            <a>最后一页</a>
        </aside>
    </div>
</section>

{% endblock %}
